.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  will-change: opacity, backdrop-filter;
  animation: fadeIn 0.2s ease-out;
}

.modal {
  background-color: var(--background-color);
  border-radius: var(--border-radius2);
  padding: 3rem;
  width: 100%;
  max-width: 530px;
  position: relative;
  box-shadow: var(--card-shadow);
  max-height: 90vh;
  overflow-y: auto;
  animation: modalSlideIn 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--text-secondary-color);
  cursor: pointer;
  transition: color 0.2s;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 50%;
}

.closeButton:hover {
  color: var(--text-color);
  background-color: var(--dark-border);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: scale(0.93);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
    padding-top: 4rem;
  }

  .closeButton {
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.5rem;
  }
}
