.forgotPasswordContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backButton {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  background: none;
  border: none;
  font-size: var(--font-size-minor);
  font-weight: var(--font-weight-semi-bold);
  cursor: pointer;
  margin-bottom: 24px;
  padding: 0;
  width: fit-content;
  transition: color var(--transition-duration);
}

.backButton:hover {
  color: var(--text-color);
}

.backIcon {
  margin-right: 4px;
  font-size: 18px;
}

.title {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  margin-bottom: 24px;
}

.description {
  color: var(--text-secondary-color);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.formGroup {
  margin-bottom: 24px;
}

.label {
  display: block;
  color: var(--text-secondary-color);
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: var(--font-weight-medium);
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successIcon {
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  background-color: var(--dark-bg-color);
  border: 1px solid var(--dark-border);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  font-size: 14px;
  color: var(--text-color);
  outline: none;
  transition: border-color var(--transition-duration);
}

.input:hover {
  border: 1px solid #ffffff94;
}
.input:focus {
  border: 2px solid #ffffffce;
  padding: 11px 15px; /* Adjust padding to prevent layout shift (12px - 1px, 16px - 1px) */
}

.input::placeholder {
  color: var(--text-secondary-color);
  opacity: 0.5;
}

.submitButton {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  padding: 14px;
  font-size: 14px;
  font-weight: var(--font-weight-semi-bold);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.submitButton:hover {
  background-color: var(--primary-dark);
}

@media (max-width: 480px) {
  .container {
    padding: 24px;
  }
}
